site_name: Atmo Lab

site_url: https://1chooo.github.io/atmo-lab/

repo_url: https://github.com/1chooo/atmo-lab

theme:
    palette:
        scheme: preference
    name: material
    icon:
        repo: fontawesome/brands/github
    features:
        - navigation.instant
        - search.highlight
        # - navigation.expand
        # - navigation.tabs
    # custom_dir: "docs/overrides"

plugins:
    - search
    - mkdocstrings
    - git-revision-date
    - mkdocs-jupyter:
        # validate_nb: True
        include_source: True
        execute: True
        #   ignore_h1_titles: True
        #   execute_ignore: "*.ipynb"

markdown_extensions:
    - attr_list
    - pymdownx.superfences
    - pymdownx.highlight:
          linenums: true
    - toc:
          permalink: true


extra:
    conda_env: py38
#     analytics:
#         provider: google
#         property: UA-XXXXXXXXX-X



nav:
    - Home: index.md
      #- Installation: installation.md
    - Usage: usage.md
    - Contributing: contributing.md
      #- FAQ: faq.md
      #- Changelog: changelog.md
      #- Example: example.md
    - Report Issues: https://github.com/1chooo/atmo-lab/issues
    - Showcase:
        - showcase/draw_Taiwan.ipynb
        - showcase/draw_Boston.ipynb
        - showcase/surface_temperature.ipynb

